#root {
  width: 100%;
  height: 100%;
}

html,
body {
  margin: 0;
  margin-top: 0;
  padding: 0;
  background-color: #282632;
  color: white;
}

button {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}
